vendor

# Ignore all magento files
.htaccess
.htaccess.sample
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
api.php
app/.htaccess
app/Mage.php
app/bootstrap.php
app/code/community/Cm/
app/code/community/Phoenix/
app/code/core/

# Magento App Design
app/design/adminhtml
app/design/install
app/design/frontend/default
app/design/frontend/rwd
app/design/frontend/base/default/etc
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/sendit
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/sendit

app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/modules/*
!app/etc/modules/Sendit_Bliskapaczka.xml
app/locale/
cron.php
cron.sh
dev/.htaccess
dev/tests/functional/
downloader/
errors/
favicon.ico
includes/
index.php
index.php.sample
install.php
js/
lib/
media/
php.ini.sample
shell/
skin/
var/
LICENSE.html
get.php
mage
