<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sendit_Bliskapaczka>
            <version>0.1.0</version>
        </Sendit_Bliskapaczka>
    </modules>
    <global>
        <helpers>
            <sendit_bliskapaczka>
                <class>Sendit_Bliskapaczka_Helper</class>
            </sendit_bliskapaczka>
        </helpers>
        <models>
            <sendit_bliskapaczka>
                <class>Sendit_Bliskapaczka_Model</class>
            </sendit_bliskapaczka>
        </models>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <sendit_bliskapaczka_set_pos_data>
                        <type>singleton</type>
                        <class>sendit_bliskapaczka/observer</class>
                        <method>setPosData</method>
                    </sendit_bliskapaczka_set_pos_data>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_front_init_before>
                <observers>
                    <sendit_bliskapaczka_autoloader_working_with_bliskapaczka_api_client>
                        <type>singleton</type>
                        <class>sendit_bliskapaczka/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </sendit_bliskapaczka_autoloader_working_with_bliskapaczka_api_client>
                </observers>
            </controller_front_init_before>
            <sales_order_place_after>
                <observers>
                    <sendit_bliskapaczka_create_order_via_api>
                        <type>singleton</type>
                        <class>sendit_bliskapaczka/observer</class>
                        <method>createOrderViaApi</method>
                    </sendit_bliskapaczka_create_order_via_api>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <sendit_bliskapaczka_setup>
                <setup>
                    <module>Sendit_Bliskapaczka</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sendit_bliskapaczka_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <pos_code>
                    <to_order_address>*</to_order_address>
                </pos_code>
                <pos_operator>
                    <to_order_address>*</to_order_address>
                </pos_operator>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <sendit_bliskapaczka>
                    <file>sendit/bliskapaczka.xml</file>
                </sendit_bliskapaczka>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <sendit_bliskapaczka>
                <active>1</active>
                <model>sendit_bliskapaczka/carrier_bliskapaczka</model>
                <title>Bliska Paczka</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </sendit_bliskapaczka>
        </carriers>
    </default>
</config>
