<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <carriers translate="label" module="sendit_bliskapaczka">
            <groups>
                <sendit_bliskapaczka translate="label">
                    <label>Bliskapaczka</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <bliskapaczkaapikey translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>For "Sandbox mode" put API Key from sandbox-bliskapaczka.pl</comment>
                        </bliskapaczkaapikey>
                        <test_mode translate="label">
                            <label>Sandbox mode enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>131</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If yes all orders will be created on sandbox-bliskapaczka.pl</comment>
                        </test_mode>
                        <auto_advice translate="label">
                            <label>Auto advice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>132</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If yes all new orders will be automatically advice</comment>
                        </auto_advice>
                        <google_map_api_key>
                            <label>Google Map API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>133</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </google_map_api_key>
                        <parcel_size_type>
                            <label>Parcel size type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>sendit_bliskapaczka/adminhtml_parcelSizeType</source_model>                            
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </parcel_size_type>
                        <parcel_size_type_fixed_size_x translate="label">
                            <label>Fixed parce type size X (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </parcel_size_type_fixed_size_x>
                        <parcel_size_type_fixed_size_y translate="label">
                            <label>Fixed parce type size Y (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>151</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </parcel_size_type_fixed_size_y>
                        <parcel_size_type_fixed_size_z translate="label">
                            <label>Fixed parce type size Z (cm)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>152</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </parcel_size_type_fixed_size_z>
                        <parcel_size_type_fixed_size_weight translate="label">
                            <label>Fixed parce type weight (kg)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>153</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </parcel_size_type_fixed_size_weight>
                        <sender_email translate="label">
                            <label>Sender email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>154</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_email>
                        <sender_first_name translate="label">
                            <label>Sender first name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>155</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_first_name>
                        <sender_last_name translate="label">
                            <label>Sender last name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>156</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_last_name>
                        <sender_phone_number translate="label">
                            <label>Sender phone number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>157</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_phone_number>
                        <sender_street translate="label">
                            <label>Sender street</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>158</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_street>
                        <sender_building_number translate="label">
                            <label>Sender building number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>159</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_building_number>
                        <sender_flat_number translate="label">
                            <label>Sender flat number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_flat_number>
                        <sender_post_code translate="label">
                            <label>Sender post code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>161</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_post_code>
                        <sender_city translate="label">
                            <label>Sender city</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>162</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sender_city>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>200</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>210</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>220</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <neodinamic_license_owner>
                            <label>Neodinamic License Owner</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>910</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </neodinamic_license_owner>
                        <neodinamic_license_key>
                            <label>Neodinamic License Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>920</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </neodinamic_license_key>
                        <neodinamic_print translate="label">
                            <label>Neodinamic Print</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>9320</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </neodinamic_print>
                        <cod translate="label">
                            <label>COD</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>9330</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cod>
                    </fields>
                </sendit_bliskapaczka>
            </groups>
        </carriers>
    </sections>
</config>
